{% extends 'base.html.twig' %}

{% block body %}

<a href="{{ path('team_create') }}">Créer une équipe</a><br />
<a href="{{ path('server_create') }}">Créer un serveur</a><br />
<a href="{{ path('match_create') }}">Créer un match</a><br />

{% endblock %}
